<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liliangliang.core.dao.DeviceDAO">
	<resultMap type="Device" id="DeviceMap">
		<id property="devid" column="devid" />
		<result property="citycode" column="citycode" />
		<result property="stationname" column="stationname" />
		<result property="lng" column="lng" />
		<result property="lat" column="lat" />
	</resultMap>
	<sql id="insertSql">
		devid,citycode,stationname,lng,lat
	</sql>
	<sql id="devidSql">
		devid
	</sql>
	<insert id="insert">
		insert ignore into devices (
		<include refid="insertSql" />
		)values
		<foreach item="d" collection="devices" separator=",">
			(#{d.devid},#{citycode},#{d.stationname},#{d.lng},#{d.lat})
		</foreach>
	</insert>
	<select id="geyDevIdByAqicode" resultType="String">
		select
		<include refid="devidSql" />
		from devices
	</select>

</mapper>